{% extends "../layout.njk" %}
    
    {% block content %}
            <form class="wrapper__body" method="POST" action="/admin/chefs" enctype="multipart/form-data">
                <div class="wrapper__header__recipe">
                    <h1>Create new chef</h1>
                    <button type="submit">Save chef</button>
                </div>

                {% include 'admin/chefs/fields.njk' %}
            </form>
        <script src="/../scripts.js"></script>
    {% endblock %}