{% extends "../layout.njk" %}
    
    {% block content %}
            <form id="form_post" class="wrapper__body" method="post" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
              <div class="wrapper__header__recipe">
                    <h1>Editing chef</h1>
                    <div class="wrapper__header__recipe__buttons">
                      <button type="submit" form="form_post" onclick="Validate.fillAllFields(event)">Save chef</button>
                      <button type="submit" form="form_delete" id="delete_button">Delete</button>
                    </div>
                </div>

                {% include 'admin/chefs/fields.njk' %}
                <input type="hidden" name="id" value={{chef.id}}>
            </form>
            <form action="/admin/chefs?_method=DELETE" id="form_delete" method="post">
              <input type="hidden" name="id" value={{chef.id}}>
            </form>
        <script src="/../scripts.js"></script>
    {% endblock %}