{% extends "../layout.njk" %}
    
    {% block content %}
            <div class="wrapper__body">
                    
                    <div class="wrapper__body__users-header">
                       <h1>Chefs</h1>
                        <div class="wrapper__header__recipe__buttons">
                            <button type="submit"><a href="/admin/chefs/create">New</a></button>
                        </div>
                    </div>
                    <div class="wrapper__body__chefs-cards">
                    {% for chef in chefs %}
                        <div class="chef-card" id={{chef.id}}>
                            <img src={{chef.avatar_path}} alt="{{chef.name}}">
                            <div class="chef-card__details">
                                <h5>{{chef.name}}</h5>
                                <p>{{chef.total_recipes}} recipes</p>
                            </div>
                        </div>
                    {% endfor %}
        <script src="/scripts.js"></script>
    {% endblock %}