@keyframes hidemessage {
    to {
        top: -100px;
        opacity: 0;
    }
}

.error {
    background-color: #DC4747;
    width: 350px;
    height: 140px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;

    animation: hidemessage 400ms 3s ease-in-out forwards;
}

.login {
    background-color: #aaa8a8;
    width: 350px;
    height: 140px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;

    animation: hidemessage 400ms 3s ease-in-out forwards;
}

.success {
    background-color: #01B12A;
    width: 350px;
    height: 140px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;

    animation: hidemessage 400ms 3s ease-in-out forwards;
}

.error p ,
.success p{
    font-size: 16px;
    color: #FFFFFF; 
    font-weight: bold;
    align-self: center;
}

.login p{
    font-size: 16px;
    color: #020202; 
    font-weight: bold;
    align-self: center;
}