{% if error %}
    <div class="error">
        <p>{{error}}</p>
    </div>
{% endif %}

{% if success %}
    <div class="success">
        <p>{{success}}</p>
    </div>
{% endif %}

{% if login %}
    <div class="login">
        <p>{{login}}</p>
    </div>
{% endif %}