 {% extends "../website/layout.njk" %}

 {% block navbar %}
    <div class="navbar__search">
        <form action="/recipes" method="get">
            <input 
                type="text"
                name="filter"
                placeholder="search recipes"
            >
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock%}

 {% block content %}
 
            <div class="wrapper__header">
                <div class="wrapper__header__title">
                    <h1>The best Recipes</h1>
                    <p> Learn how to prepare the best recipes plate with the best professionals worldwide.</p>
                </div>
                <div class="wrapper__header__img">
                    <img src="/assets/chef.png" alt="chef">
                </div>
            </div>

            <div class="wrapper__body">
                <div class="wrapper__body__title">
                    <h1>Popular Recipes</h1>
                </div>
                <div class="wrapper__body__cards">
                    <div class="card">
                        <img src="/assets/burger.png" alt="Burger">
                        <div class="card__title">
                            <h5>Triplo Bacon Burger</h5>
                        </div>
                        <div class="card__author">
                            <p>Por Jorge Relato</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="/assets/burger.png" alt="Burger">
                        <div class="card__title">
                            <h5>Triplo Bacon Burger</h5>
                        </div>
                        <div class="card__author">
                            <p>Por Jorge Relato</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="/assets/burger.png" alt="Burger">
                        <div class="card__title">
                            <h5>Triplo Bacon Burger</h5>
                        </div>
                        <div class="card__author">
                            <p>Por Jorge Relato</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="/assets/burger.png" alt="Burger">
                        <div class="card__title">
                            <h5>Triplo Bacon Burger</h5>
                        </div>
                        <div class="card__author">
                            <p>Por Jorge Relato</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="/assets/burger.png" alt="Burger">
                        <div class="card__title">
                            <h5>Triplo Bacon Burger</h5>
                        </div>
                        <div class="card__author">
                            <p>Por Jorge Relato</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="/assets/burger.png" alt="Burger">
                        <div class="card__title">
                            <h5>Triplo Bacon Burger</h5>
                        </div>
                        <div class="card__author">
                            <p>Por Jorge Relato</p>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}