{% extends "../website/layout.njk" %}
    
    {% block content %}
            <div class="wrapper__body">
                    <div class="recipe__head">
                        <div class="recipe__head__img">
                            <img class="highlight" src="{{files[0].path}}" alt={{item.title}}>
                                <div class="recipe__head__img__gallery">
                                    {% for image in files %}    
                                        <img 
                                            {% if loop.index == 1 %}
                                                class="active"
                                            {% endif %}
                                            src="{{image.path}}"
                                            onclick="ImageGallery.setImage(event)"
                                        >
                                    {% endfor %}
                                </div>
                            </div>
                        <div class="recipe__head__title">
                            <h5>{{item.title}}</h5>
                        </div>
                        <div class="recipe__head__author">
                            <p>by {{chef.name}}</p>
                        </div>
                    </div>

                    <section class="ingredients">
                        <div class="ingredients__head">
                            <h1>Ingredients</h1>
                        </div>
                        <div id="ingredientInfo" class="ingredients__information">
                            <ul >
                            {% for ingredient in item.ingredients%}
                                <li>{{ingredient}}</li>
                            {% endfor %}
                            </ul>
                        </div>

                    </section>

                    <section class="prepare"> 
                        <div class="prepare__head">
                            <h1>How to prepare</h1>
                        </div>  
                        <div class="prepare__information">
                            <div id ="prepareInfo" >
                                <ul>
                                    {% for item in item.preparation%}
                                        <li>- {{item}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="information">
                        <div class="information__head">
                            <h1>Aditional Information</h1>
                        </div>
                        <div class="information__information">
                            <p id="informationInfo">{{item.information}}</p>
                        </div>
                    </section>
            </div>
        <script src="/scripts.js"></script>
    {% endblock %}